<% html_title l(:label_easy_gantt) %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'easy_gantt', plugin: 'redmine_easy_gantt' %>
  <%= javascript_include_tag 'easy_gantt', plugin: 'redmine_easy_gantt' %>
<% end %>

<h2><%= l(:label_easy_gantt) %></h2>

<div id="easy-gantt"
     class="easy-gantt"
     data-issues-url="<%= url_for(controller: 'easy_gantt', action: 'issues', project_id: @project.identifier) %>"
     data-issue-update-url-template="<%= url_for(controller: 'easy_gantt', action: 'update_issue', id: '__ISSUE_ID__') %>"
     data-statuses="<%= IssueStatus.order(:position).map { |s| { id: s.id, name: s.name } }.to_json %>"
     data-trackers="<%= Tracker.order(:position).map { |t| { id: t.id, name: t.name } }.to_json %>">
  <div class="easy-gantt__loading"><%= l(:label_loading) %></div>
</div>
